aclocal.m4
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
Makefile
Makefile.in
.deps
*.o
missing
install-sh
autom4te.cache
*.a
stamp-h1
src/dosbox
